@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Bold"), local("JetBrainsMono-Bold"),
    url(JetBrainsMono-Bold.woff2) format("woff2"),
    url(JetBrainsMono-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Bold Italic"), local("JetBrainsMono-BoldItalic"),
    url(JetBrainsMono-BoldItalic.woff2) format("woff2"),
    url(JetBrainsMono-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono ExtraBold Italic"),
    local("JetBrainsMono-ExtraBoldItalic"),
    url(JetBrainsMono-ExtraBoldItalic.woff2) format("woff2"),
    url(JetBrainsMono-ExtraBoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono ExtraBold"), local("JetBrainsMono-ExtraBold"),
    url(JetBrainsMono-ExtraBold.woff2) format("woff2"),
    url(JetBrainsMono-ExtraBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Italic"), local("JetBrainsMono-Italic"),
    url(JetBrainsMono-Italic.woff2) format("woff2"),
    url(JetBrainsMono-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono SemiBold"), local("JetBrainsMono-SemiBold"),
    url(JetBrainsMono-SemiBold.woff2) format("woff2"),
    url(JetBrainsMono-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"),
    url(JetBrainsMono-Regular.woff2) format("woff2"),
    url(JetBrainsMono-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono ExtraLight"), local("JetBrainsMono-ExtraLight"),
    url(JetBrainsMono-ExtraLight.woff2) format("woff2"),
    url(JetBrainsMono-ExtraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono SemiBold Italic"),
    local("JetBrainsMono-SemiBoldItalic"),
    url(JetBrainsMono-SemiBoldItalic.woff2) format("woff2"),
    url(JetBrainsMono-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Medium Italic"),
    local("JetBrainsMono-MediumItalic"),
    url(JetBrainsMono-MediumItalic.woff2) format("woff2"),
    url(JetBrainsMono-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Thin Italic"), local("JetBrainsMono-ThinItalic"),
    url(JetBrainsMono-ThinItalic.woff2) format("woff2"),
    url(JetBrainsMono-ThinItalic.woff) format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Light Italic"), local("JetBrainsMono-LightItalic"),
    url(JetBrainsMono-LightItalic.woff2) format("woff2"),
    url(JetBrainsMono-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Medium"), local("JetBrainsMono-Medium"),
    url(JetBrainsMono-Medium.woff2) format("woff2"),
    url(JetBrainsMono-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Light"), local("JetBrainsMono-Light"),
    url(JetBrainsMono-Light.woff2) format("woff2"),
    url(JetBrainsMono-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono ExtraLight Italic"),
    local("JetBrainsMono-ExtraLightItalic"),
    url(JetBrainsMono-ExtraLightItalic.woff2) format("woff2"),
    url(JetBrainsMono-ExtraLightItalic.woff) format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Thin"), local("JetBrainsMono-Thin"),
    url(JetBrainsMono-Thin.woff2) format("woff2"),
    url(JetBrainsMono-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "David Libre";
  src: local("DavidLibre-Medium"), url(DavidLibre-Medium.woff2) format("woff2"),
    url(DavidLibre-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "David Libre";
  src: local("DavidLibre-Regular"),
    url(DavidLibre-Regular.woff2) format("woff2"),
    url(DavidLibre-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"),
    url(RobotoSlab-Thin.woff2) format("woff2"),
    url(RobotoSlab-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "David Libre";
  src: local("David Libre Bold"), local("DavidLibre-Bold"),
    url(DavidLibre-Bold.woff2) format("woff2"),
    url(DavidLibre-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab ExtraLight"), local("RobotoSlab-ExtraLight"),
    url(RobotoSlab-ExtraLight.woff2) format("woff2"),
    url(RobotoSlab-ExtraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(RobotoSlab-Regular.woff2) format("woff2"),
    url(RobotoSlab-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab SemiBold"), local("RobotoSlab-SemiBold"),
    url(RobotoSlab-SemiBold.woff2) format("woff2"),
    url(RobotoSlab-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url(RobotoSlab-Light.woff2) format("woff2"),
    url(RobotoSlab-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(RobotoSlab-Regular_1.woff2) format("woff2"),
    url(RobotoSlab-Regular_1.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url(RobotoSlab-Bold.woff2) format("woff2"),
    url(RobotoSlab-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Black"), local("RobotoSlab-Black"),
    url(RobotoSlab-Black.woff2) format("woff2"),
    url(RobotoSlab-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab ExtraBold"), local("RobotoSlab-ExtraBold"),
    url(RobotoSlab-ExtraBold.woff2) format("woff2"),
    url(RobotoSlab-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Bellefair;
  src: local("Bellefair Regular"), local("Bellefair-Regular"),
    url(Bellefair-Regular.woff2) format("woff2"),
    url(Bellefair-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Medium"), local("RobotoSlab-Medium"),
    url(RobotoSlab-Medium.woff2) format("woff2"),
    url(RobotoSlab-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Tinos;
  src: local("Tinos Regular"), local("Tinos-Regular"),
    url(Tinos-Regular.woff2) format("woff2"),
    url(Tinos-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Tinos;
  src: local("Tinos Italic"), local("Tinos-Italic"),
    url(Tinos-Italic.woff2) format("woff2"),
    url(Tinos-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Tinos;
  src: local("Tinos Bold"), local("Tinos-Bold"),
    url(Tinos-Bold.woff2) format("woff2"), url(Tinos-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Tinos;
  src: local("Tinos Bold Italic"), local("Tinos-BoldItalic"),
    url(Tinos-BoldItalic.woff2) format("woff2"),
    url(Tinos-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Deutsch Gothic";
  src: local("Deutsch Gothic"), local("DeutschGothic"),
    url(DeutschGothic.woff2) format("woff2"),
    url(DeutschGothic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Black Italic"), local("Raleway-BlackItalic"),
    url("Raleway-BlackItalic.woff2") format("woff2"),
    url("Raleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraBold Italic"), local("Raleway-ExtraBoldItalic"),
    url("Raleway-ExtraBoldItalic.woff2") format("woff2"),
    url("Raleway-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraLight Italic"), local("Raleway-ExtraLightItalic"),
    url("Raleway-ExtraLightItalic.woff2") format("woff2"),
    url("Raleway-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"),
    url("Raleway-MediumItalic.woff2") format("woff2"),
    url("Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"),
    url("Raleway-Medium.woff2") format("woff2"),
    url("Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("Raleway-Bold.woff2") format("woff2"),
    url("Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Italic"), local("Raleway-Italic"),
    url("Raleway-Italic.woff2") format("woff2"),
    url("Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Black"), local("Raleway-Black"),
    url("Raleway-Black.woff2") format("woff2"),
    url("Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold Italic"), local("Raleway-BoldItalic"),
    url("Raleway-BoldItalic.woff2") format("woff2"),
    url("Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
    url("Raleway-ExtraLight.woff2") format("woff2"),
    url("Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"),
    url("Raleway-ExtraBold.woff2") format("woff2"),
    url("Raleway-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"), local("Raleway-Light"),
    url("Raleway-Light.woff2") format("woff2"),
    url("Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Light Italic"), local("Raleway-LightItalic"),
    url("Raleway-LightItalic.woff2") format("woff2"),
    url("Raleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold Italic"), local("Raleway-SemiBoldItalic"),
    url("Raleway-SemiBoldItalic.woff2") format("woff2"),
    url("Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"),
    url("Raleway-Regular.woff2") format("woff2"),
    url("Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin Italic"), local("Raleway-ThinItalic"),
    url("Raleway-ThinItalic.woff2") format("woff2"),
    url("Raleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin"), local("Raleway-Thin"),
    url("Raleway-Thin.woff2") format("woff2"),
    url("Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    url("Raleway-SemiBold.woff2") format("woff2"),
    url("Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
