{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/registration/registration.css">{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<p align="center">{% trans 'Your password was changed.' %}</p>
<a href="/"><input type="submit" value="{% trans 'Home' %}"></a>
{% endblock %}
