APP_DOMAIN=bolls.life
DEBUG=0
SECRET_KEY=replace-me
DJANGO_ALLOWED_HOSTS=bolls.life
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
SQL_DATABASE=postgres_db
SQL_USER=postgres_user
SQL_PASSWORD=postgres_password
SQL_HOST=bolls-db
SQL_PORT=5432
EMAIL_HOST_USER=bpavlisinec@gmail.com
EMAIL_HOST_PASSWORD=replace-me
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=replace-me
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=replace-me
SOCIAL_AUTH_GITHUB_KEY=replace-me
SOCIAL_AUTH_GITHUB_SECRET=replace-me
