html[data-theme="dark"],
html[data-theme="black"] {
  --background-color: rgb(4, 6, 12);
  --text-color: rgb(255, 238, 238);
  --btn-bg-hover: rgba(138, 138, 255, 0.4);
  --btn-bg: hsla(240, 100%, 77%, 0.1);
  --a-background: hsl(200, 38%, 50%);
}

html[data-theme="sepia"],
html[data-theme="gray"],
html[data-theme="white"],
html[data-theme="light"] {
  --background-color: rgb(255, 238, 238);
  --text-color: rgb(4, 6, 12);
  --btn-bg-hover: rgba(68, 119, 255, 0.1);
  --btn-bg: rgba(68, 119, 255, 0.25);
  --a-background: rgb(65, 118, 144);
}

* {
  box-sizing: border-box;
  scrollbar-color: rgb(115, 115, 115) rgba(56, 56, 61, 0.2);
  scrollbar-width: thin;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease 0s;
  scroll-behavior: smooth;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(56, 56, 61, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(115, 115, 115);
}

*::selection {
  color: hsl(0, 100%, 97%);
  background-color: rgb(65, 118, 144);
}

:focus {
  outline: none !important;
}

#container,
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 64px 12px;
}

#header {
  display: none !important;
}

h1,
h1 a,
h1 a:visited {
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
}

#content {
  padding: 0 !important;
  display: block;
  max-width: 520px;
  min-width: 296px;
}

.errorlist,
.errormessage {
  margin: 16px 0;
  color: indianred;
  font-size: 18px;
}

ul,
li {
  list-style: none !important;
  list-style-type: none !important;
}

br {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 32px;
  color: inherit;
  font-weight: bold;
  opacity: 0.65;
  font-size: 12px;
}

.helptext {
  color: inherit;
  opacity: 0.65;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(138, 138, 255, 0.267);
  color: var(--text-color);
  padding: 8px 0 4px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-bottom-color: var(--text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom-color: var(--a-background);
}

.with,
#login_after_reset,
input[type="submit"] {
  background-color: var(--a-background);
  color: #fee;
  cursor: pointer;
  border-radius: 12px;
  padding: 16px 8px;
  margin-left: auto;
  margin-top: 16px;
  border: none;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.15;
}

.with:hover,
#login_after_reset,
input[type="submit"]:hover {
  opacity: 0.8;
}

.with {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg);
  width: 50%;
  color: var(--a-background);
  margin: 0;
  font-weight: bold;
}

.with svg {
  height: 16px;
  margin-right: 8px;
}

hr {
  margin: 16px 32px;
  color: rgba(138, 138, 255, 0.267);
  opacity: 0;
}

a {
  color: var(--text-color);
}

.tomain {
  font: inherit;
  text-decoration: 3px underline;
}

.help,
p.help,
form p.help,
div.help,
form div.help,
div.help li {
  font-size: 14px;
  color: inherit;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
