{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>500 Internal Server Error</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">
	<link rel="stylesheet" type="text/css" href="{% static 'bolls/dist/api.css' %}">
	<style>
		body {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	</style>
</head>

<body>
	<noscript>500 Internal Server Error</noscript>
	<h1>500 Internal Server Error</h1>
	<footer>
		<a href="mailto:bpavlisinec@gmail.com">{% trans "Support" %}</a>
		|
		<a href="/">{% trans "Home" %}</a>
		|
		<a href="/accounts/login/">{% trans "Log in" %}</a>
	</footer>
</body>

</html>