html[data-theme="light"] {
  --bgc: hsl(0, 100%, 97%);
  --c: rgb(4, 6, 12);
  --acc-bgc: hsl(256, 100%, 92%);
  --acc-bgc-hover: hsl(256, 100%, 96%);
  --disabled: rgb(86, 82, 78);

  /* Markdown */
  --codebg: hsla(0, 93.33%, 94.12%, 100%);
  --code: hsla(12, 6.49%, 15.1%, 100%);
  --indigo: hsla(243.65, 54.5%, 41.37%, 100%);
  --lime: hsla(85.87, 78.42%, 27.25%, 100%);
  --cyan: hsla(188.74, 94.5%, 42.75%, 100%);
  --violet: hsla(263.39, 69.96%, 50.39%, 100%);
  --orange: hsla(17.47, 88.35%, 40.39%, 100%);
  --yellow: hsla(35.45, 91.67%, 32.94%, 100%);
  --sky: hsla(200.41, 98.01%, 39.41%, 100%);
  --amber: hsla(32.13, 94.62%, 43.73%, 100%);
  --blue: hsla(224.28, 76.33%, 48.04%, 100%);
  --rose: hsla(345.35, 82.69%, 40.78%, 100%);
  --cool: hsla(220, 8.94%, 46.08%, 100%);
}

html[data-theme="dark"] {
  --bgc: rgb(4, 6, 12);
  --c: rgb(255, 238, 238);
  --acc-bgc: #252749;
  --acc-bgc-hover: #383a6d;
  --disabled: rgb(168, 162, 159);

  /* Markdown */
  --codebg: hsla(175.93, 60.82%, 19.02%, 50%);
  --code: hsla(140.62, 84.21%, 92.55%, 100%);
  --indigo: hsla(229.66, 93.55%, 81.76%, 100%);
  --lime: hsla(82.71, 77.97%, 55.49%, 100%);
  --cyan: hsla(186.99, 92.41%, 69.02%, 100%);
  --violet: hsla(255.14, 91.74%, 76.27%, 100%);
  --orange: hsla(27.02, 95.98%, 60.98%, 100%);
  --yellow: hsla(47.95, 95.82%, 53.14%, 100%);
  --sky: hsla(198.44, 93.2%, 59.61%, 100%);
  --amber: hsla(37.69, 92.13%, 50.2%, 100%);
  --blue: hsla(213.12, 93.9%, 67.84%, 100%);
  --rose: hsla(351.3, 94.52%, 71.37%, 100%);
  --cool: hsla(220, 8.94%, 46.08%, 100%);
}
html[data-theme="sepia"] {
  --bgc: rgb(235, 219, 183);
  --c: rgb(46, 39, 36);
  --acc-bgc: rgb(226, 204, 152);
  --acc-bgc-hover: rgb(230, 211, 167);
  --disabled: rgb(86, 82, 78);
}
html[data-theme="gray"] {
  --bgc: #f1f1f1;
  --c: black;
  --acc-bgc: #d3d3d3;
  --acc-bgc-hover: #e5e5e5;
  --disabled: rgb(86, 82, 78);
}
html[data-theme="black"] {
  --bgc: black;
  --c: white;
  --acc-bgc: #252749;
  --acc-bgc-hover: #383a6d;
  --disabled: rgb(168, 162, 159);
}
html[data-theme="white"] {
  --bgc: white;
  --c: black;
  --acc-bgc: hsl(256, 100%, 92%);
  --acc-bgc-hover: hsl(256, 100%, 96%);
  --disabled: rgb(86, 82, 78);
}

html[data-accent="bluedark"] {
  --acc-color: hsl(240, 100%, 75%);
  --acc-color-hover: hsla(219, 100%, 77%, 0.996);
}
html[data-accent="bluelight"] {
  --acc-color: hsl(240, 100%, 24%);
  --acc-color-hover: hsla(200, 100%, 32%, 0.996);
}
html[data-accent="greendark"] {
  --acc-color: hsl(80, 100%, 70%);
  --acc-color-hover: hsla(80, 100%, 76%, 0.996);
}
html[data-accent="greenlight"] {
  --acc-color: hsl(80, 100%, 24%);
  --acc-color-hover: hsla(80, 100%, 32%, 0.996);
}
html[data-accent="purpledark"] {
  --acc-color: hsl(291, 100%, 70%);
  --acc-color-hover: hsla(291, 100%, 76%, 0.996);
}
html[data-accent="purplelight"] {
  --acc-color: hsl(291, 100%, 24%);
  --acc-color-hover: hsla(291, 100%, 32%, 0.996);
}
html[data-accent="golddark"] {
  --acc-color: hsl(43, 100%, 70%);
  --acc-color-hover: hsla(43, 100%, 76%, 0.996);
}
html[data-accent="goldlight"] {
  --acc-color: hsl(43, 100%, 24%);
  --acc-color-hover: hsla(43, 100%, 32%, 0.996);
}
html[data-accent="reddark"] {
  --acc-color: hsl(0, 100%, 70%);
  --acc-color-hover: hsla(0, 100%, 76%, 0.996);
}
html[data-accent="redlight"] {
  --acc-color: hsl(0, 100%, 24%);
  --acc-color-hover: hsla(0, 100%, 32%, 0.996);
}

html[data-transitions="true"] * {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 0;
  transition-duration: 450ms;
  transition-property: color, background, width, height, transform, opacity,
    max-height, max-width, top, left, bottom, right, visibility, fill, stroke,
    margin, padding, font-size, border-color, box-shadow, border-radius;
}

html[data-pukaka="yes"] * {
  transition: none !important;
}

html[data-transitions="false"] * {
  transition: none !important;
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--acc-bgc-hover) rgba(0, 0, 0, 0);
  scrollbar-width: auto;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  text-decoration-color: var(--bgc);
  color: var(--bgc);
  background-color: var(--acc-color-hover);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--acc-bgc-hover);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--acc-bgc);
}

:focus {
  outline: none;
}

.focusable {
  border-radius: 8px;
}

.focusable:focus {
  outline: 1px solid var(--acc-color-hover);
  outline-offset: -1px;
}

html,
body {
  font-family: sans, sans-serif, "Apple Color Emoji", "Droid Sans Fallback",
    "Noto Color Emoji", "Segoe UI Emoji";
  font-size: 18px;
  background: var(--bgc);
  color: var(--c);
  overflow: hidden;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@keyframes text-came {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[data-transitions="true"] .book_in_list,
html[data-transitions="true"] main section h1,
html[data-transitions="true"] .bookmark_in_list {
  -webkit-animation: text-came 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: text-came 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

html[data-transitions="true"] .in_offline,
html html[data-transitions="true"] .online,
html[data-transitions="true"] img,
html[data-transitions="true"] .Downloads,
html[data-transitions="true"] main section article {
  -webkit-animation: text-came 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
    forwards;
  animation: text-came 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

button {
  border: none;
}

.download_translations {
  fill: var(--c);
  width: 54px;
  height: 40px;
  display: block;
  padding: 8px 8px;
}

@keyframes shake {
  0% {
    transform: rotateZ(27deg);
  }

  12% {
    transform: rotateZ(-27deg);
  }

  36% {
    transform: rotateZ(27deg);
  }

  72% {
    transform: rotateZ(-27deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

.download_translations:hover {
  fill: var(--acc-color-hover);
}

html[data-transitions="true"] .remove_parallel:hover,
html[data-transitions="true"] .download_translations:hover,
html[data-transitions="true"] .help:hover .helpsvg {
  -webkit-animation: shake 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
    forwards;
  animation: shake 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

body {
  transition-duration: 0s !important;
  overflow: hidden;
}

.fixscroll {
  overflow: hidden !important;
}

.chronological_order {
  fill: var(--c);
  width: 64px;
  height: 38px;
  display: block;
  padding: 8px 16px;
  transform: rotate(150deg);
}

.chronological_order:hover {
  fill: var(--acc-color-hover);
}

.hide_chron_order {
  visibility: hidden;
  opacity: 0;
}

.chronological_order_in_use {
  transform: rotate(-24deg);
}

.choose_parallel {
  min-height: 36px;
}

.choose_parallel p {
  display: inline-block;
  width: 50%;
}

.translation_name {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding: 8px 0;
  color: inherit;
  cursor: pointer;
  fill: var(--c);
}

.current_translation {
  color: var(--acc-color);
}

.books-container {
  height: calc(100% - 76px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 8px 32px;
  touch-action: pan-y;
}

.lower {
  height: calc(100% - 117px);
}

.book_in_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  background: inherit;
  padding: 10px;
  height: auto;
  cursor: pointer;
  width: 100%;
  fill: var(--c);
  font: inherit;
}

.chapter_number {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: inherit;
  height: 54px;
  width: 20%;
  font-size: 20px;
  padding-top: 16px;
  position: relative;
}

.nav_bookmarks {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 2px;
  right: 0px;
  left: 0px;
  max-width: 100%;
  flex-wrap: wrap;
  max-height: 32px;
  overflow: hidden;
}

.nav_bookmarks > span {
  display: block;
  width: 6px;
  min-width: 6px;
  height: 6px;
  border-radius: 3px;
}

.translation_name:hover,
.book_in_list:hover,
.chapter_number:hover {
  color: var(--acc-color-hover);
  fill: var(--acc-color-hover);
}

.selected {
  color: var(--acc-color);
  fill: var(--acc-color);
}

.pressed svg {
  transform: rotate(0deg);
}

.freespace {
  min-height: 128px;
}

.main {
  width: calc(100% - max(32px, min(64px, 4vw)));
  padding: 0;
  color: var(--c);
  margin: auto;
  word-break: break-word;
  touch-action: auto !important;
}

.main article {
  overflow-x: visible;
  touch-action: pan-y;
}

.parallel_text {
  display: flex;
  padding: 0;
  grid-gap: 1vw;
  height: 100vh;
}

nav input[type="text"] {
  margin: 16px;
  width: 268px;
}

#close_book_search {
  transform: translateY(-59px) translateX(252px);
  width: 26px;
  height: 52px;
  padding: 12px 0;
  fill: var(--c);
  cursor: pointer;
  opacity: 0.33;
}

#close_book_search:hover {
  fill: firebrick;
  opacity: 1;
}

h1 {
  font-size: 1.5em;
}

h1,
span {
  transition-property: color, background;
  white-space: break-spaces;
}

main h1,
main header h1 {
  text-align: center;
  margin: 1em 0;
  padding: 0 4px;
  position: sticky;
  background-color: var(--bgc);
  top: 0;
  line-height: 1;
  cursor: pointer;
}

main header {
  position: sticky;
  top: 0;
  background-color: var(--bgc);
  margin: 1em 0;
}
main section .arrow {
  transition-property: fill, color, background, transform, border-radius;
}

#iosinstall a,
footer a,
.helpFAQ a,
.main span {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% calc(0.2em);
  background-position: 0px 110%;
}
.main span {
  background-size: 100% calc(0.2em + 4px);
}
.main span {
  padding-bottom: 4px;
}

text-as-html s,
main s,
.bookmark_text s {
  display: none;
}

html[data-transitions="true"] #iosinstall a:hover,
html[data-transitions="true"] .main span:hover,
html[data-transitions="true"] footer a:hover,
html[data-transitions="true"] .helpFAQ a:hover {
  animation: 0.4s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1 normal none link-hover;
}

.verse {
  font-size: 0.68em;
  color: var(--acc-color);
  vertical-align: super;
  white-space: pre;
  border-radius: 4px;
}

.verse:hover {
  background: var(--acc-bgc-hover);
  color: var(--acc-color-hover);
}

.close_colorPicker {
  position: absolute;
  bottom: 215px;
  right: calc((100vw - 320px) / 2);
  padding: 12px;
  width: 48px;
  height: 48px;
  fill: var(--c);
  cursor: pointer;
  background: var(--bgc);
  border-radius: 50%;
  margin: 8px;
  border: 1px solid var(--acc-bgc-hover);
}

.mark_grid {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 16px 2vw;
  min-width: 320px;
  max-width: 100%;
}

.color_mark {
  border-radius: 23%;
  height: 32px;
  width: 32px;
  margin: 0 0.3em;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid var(--acc-bgc-hover);
  --onhoverchangefill: rgba(0, 0, 0, 0);
  --onhoverchangestroke: rgba(0, 0, 0, 0);
}

.color_mark:hover {
  transform: scale(1.2);
  --onhoverchangefill: var(--c);
  --onhoverchangestroke: var(--bgc);
}

.delete_color {
  stroke-width: 0.5px;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -8px;
  right: -8px;
  fill: var(--onhoverchangefill);
  stroke: var(--onhoverchangestroke);
  cursor: pointer;
}

.delete_color:hover {
  fill: firebrick;
}

#addbuttons {
  display: flex;
  margin: -8px auto 0;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
}

#addbuttons div {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 4px;
}

#addbuttons svg {
  height: auto;
  padding: 0;
  max-width: 1.3em;
  max-height: 1.3em;
}

#addbuttons p {
  text-align: left;
  padding-left: 4px;
}

@media screen and (max-width: 475px) {
  #addbuttons {
    justify-content: space-around;
    width: 320px;
  }

  #addbuttons p {
    display: none;
  }

  #addbuttons svg {
    height: auto;
    padding: 0;
    max-width: 3em;
    max-height: 26px;
  }
}

.save_bookmark {
  width: 26px;
  height: 50px;
  padding: 12px 0;
  fill: var(--c);
  stroke: var(--c);
  cursor: pointer;
}

.save_bookmark:hover {
  fill: goldenrod;
  stroke: goldenrod;
}

.share_box {
  display: inline-block;
  margin: 0 16px;
}

.share_btn {
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.share_btn:hover {
  transform: scale(1.1);
}

.filled {
  fill: olivedrab;
  stroke: olivedrab;
}

.arrows {
  display: flex;
  justify-content: space-between;
  direction: ltr;
  padding: 24px 8px 96px;
  overflow: hidden;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  fill: var(--c);
  cursor: pointer;
}

.arrow svg {
  max-height: 100%;
  max-width: 100%;
}

.arrow:hover {
  background-color: var(--acc-bgc-hover);
  border-radius: 50%;
  fill: var(--acc-color-hover);
  transform: rotate(360deg);
}

.arrow_next {
  transform: rotate(-90deg);
}

.arrow_prev {
  transform: rotate(90deg);
}

aside {
  border-left: 1px solid var(--acc-bgc);
  padding: 32px 12px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition-property: right !important;
}

nav {
  border-right: 1px solid var(--acc-bgc);
  padding: 32px 0;
  transition-property: left !important;
}

nav,
aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  touch-action: pan-y;
  z-index: 1000;
  background-color: var(--bgc);
}

.current_accent {
  cursor: pointer;
  height: 1em;
  width: 1em;
  z-index: 1100;
}

.visible_accent {
  background-color: var(--acc-color-hover);
  border-radius: 23%;
  height: 1em;
  width: 1em;
}

.enlarge_current_accent,
.enlarge_current_accent .visible_accent {
  height: 32px;
  width: 32px;
  overflow: visible;
}

.accents {
  margin-right: 1em;
  margin-top: -28px;
  border-radius: 23%;
  display: flex;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: center right;
}

.show_accents {
  margin-left: -2px;
  margin-top: -32px;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.accents .accent {
  border-radius: 23%;
  height: 32px;
  width: 32px;
  margin: 0 2px 0;
  cursor: pointer;
}

.show_accents .accent {
  margin: 0 -34px 0;
}

.nighttheme {
  margin: 24px 0;
  height: 38px;
  cursor: pointer;
}

.btnbox {
  cursor: pointer;
  height: 46px;
  margin: 16px 0;
}

.cbtn {
  width: 50%;
  height: 100%;
  fill: var(--c);
  color: var(--c);
  display: inline-block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
}

.cbtn:hover {
  fill: var(--acc-color-hover);
  color: var(--acc-color-hover);
  background-color: var(--acc-bgc-hover);
}

.cbtn:active {
  transform: translateY(4px);
  background-color: var(--acc-bgc);
  border-radius: 8px;
}

.ws,
nav,
button,
aside,
.platform-item,
img,
.mark_grid,
#page_search,
.collectionshat {
  user-select: none;
}

.lock-books {
  left: 0 !important;
}

.change_language {
  color: var(--c);
  padding: 8px 16px;
  margin-left: auto;
  background-color: var(--acc-bgc);
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.change_language:hover {
  background-color: var(--acc-bgc-hover);
}

.popup_menu_box {
  position: relative;
}

.popup_menu {
  background-color: var(--bgc);
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  border-radius: 8px;
  border: 1px solid #8888;
  z-index: 10000000;
}

.popup_menu .butt {
  background: transparent;
  color: var(--c);
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: left;
  min-width: 128px;
}

.popup_menu .active_butt {
  background: var(--acc-bgc);
}

.popup_menu .butt:hover {
  background: var(--acc-bgc-hover);
}

.font_icon {
  font-family: "Tinos", serif;
  font-size: 27px;
  padding: 0 8px;
  margin-right: 12px;
}

.collectionsflex {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 8px;
  white-space: nowrap;
}

.search {
  width: 100%;
  padding: 4px;
  font-size: 20px;
  background: var(--acc-bgc);
  border: 1px solid var(--acc-bgc);
  margin: 24px 0 0;
  color: inherit;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.7;
}

.search:hover {
  opacity: 1;
}

.search:focus {
  opacity: 1;
  background: var(--acc-bgc-hover);
}

.prof_btn {
  margin-left: auto;
  background-color: var(--acc-bgc);
  color: inherit;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
}

.prof_btn:hover {
  background-color: var(--acc-bgc-hover);
}

.signin {
  margin-left: 4px;
  background: rgba(136, 255, 136, 0.133);
}

.signin:hover {
  background: rgba(136, 255, 136, 0.267);
}

.username {
  padding: 4px 0;
  cursor: pointer;
  color: var(--c);
  word-break: break-word;
}

.username:hover {
  color: var(--acc-color-hover);
}

@keyframes link-hover {
  0% {
    background-size: 100% 0.3em;
    background-position: 0px 110%;
  }

  50% {
    background-size: 0% 0.3em;
    background-position: 0px 110%;
  }

  50.01% {
    background-size: 0% 0.3em;
    background-position: right 0px top 110%;
  }

  100% {
    background-size: 100% 0.3em;
    background-position: right 0px top 110%;
  }
}

.search_hat {
  display: flex;
}

.search_hat h1 {
  text-align: center;
  margin: auto;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 1em;
}

.search_hat svg {
  min-width: 24px;
}

.close_search {
  width: 26px;
  height: 50px;
  padding: 12px 0;
  fill: var(--c);
  cursor: pointer;
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.animated_downloading {
  animation: 800ms linear 0s infinite normal both loading !important;
}

.remove_parallel {
  width: 24px;
  min-width: 24px;
  padding: 0;
  margin: 0 8px 0 -2px;
  height: 24px;
}

.close_search:hover {
  fill: firebrick;
}

.filter_search {
  fill: var(--c);
  width: 26px;
  height: 50px;
  padding: 12px 0;
  cursor: pointer;
  margin-left: 8px;
}

.filter_search_hover {
  fill: var(--acc-color);
}

.filter_search:hover {
  fill: var(--acc-color-hover);
}

.search_body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 50px);
  scroll-behavior: smooth;
}

.total_msg {
  text-align: left;
  padding: 8px 0;
  font-size: 16px;
  color: rgb(153, 170, 187);
}

.search_item {
  color: inherit;
  text-align: left;
}

.search_res_verse_text {
  font-size: 1.1em;
  cursor: pointer;
  line-height: 1.25;
}

.search_res_verse_text:hover {
  color: var(--acc-color-hover);
}

.search_res_verse_header {
  text-align: right;
  margin: 4px 0 16px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: break-spaces;
}

.more_results {
  color: inherit;
  background-color: var(--acc-bgc);
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  padding: 8px 16px;
}

.more_results:hover {
  background-color: var(--acc-bgc-hover);
}

.filters {
  position: absolute;
  display: block;
  transform-origin: top right;
  top: 8px;
  right: 8px;
  max-height: calc(100% - 16px);
  max-width: calc(100% - 16px);
  width: auto;
  padding: 8px 16px 8px 8px;
  background: var(--bgc);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 16px;
  border: 1px solid var(--acc-bgc);
}

html[data-light="light"] .filters,
html[data-light="light"] .Notifications p {
  box-shadow: 0 2.74416px 2.74416px rgba(0, 0, 0, 0.0274351),
    0 5.48831px 5.48831px rgba(0, 0, 0, 0.0400741),
    0 13.7208px 10.9766px rgba(0, 0, 0, 0.0499982),
    0 20.5812px 20.5812px rgba(0, 0, 0, 0.0596004),
    0 41.1623px 41.1623px rgba(0, 0, 0, 0.0709366),
    0 96.0454px 89.1851px rgba(0, 0, 0, 0.09);
}

.book_in_filter {
  width: max-content;
  max-width: 370px;
  text-align: inherit;
}

.parallel {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: visible;
  touch-action: pan-y;
  width: 50%;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.parent_checkbox {
  --filling: var(--disabled);
  color: var(--filling);
  background-color: transparent;
  text-align: left;
  width: 100%;
  font: inherit;
}

.checkbox {
  width: 2.8em;
  min-width: 2.8em;
  height: 1.5em;
  border: 2px solid var(--filling);
  border-radius: 2.24em;
  margin-left: auto;
  box-sizing: content-box;
}

.checkbox span {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: var(--filling);
  border-radius: 0.8em;
  transform: translateX(-1px);
}

.checkbox_turned {
  --filling: var(--c);
}

html[data-theme="dark"] .checkbox_turned p,
html[data-theme="black"] .checkbox_turned p {
  box-shadow: inset 0 0 0.8em 0.2em var(--filling);
}

.checkbox_turned span {
  transform: translateX(1.4em);
  opacity: 1;
}

.help {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 38px;
  margin: 24px 0;
  --fill-on-hover: var(--c);
}

.helpsvg {
  margin-right: 12px;
  fill: var(--fill-on-hover);
  height: 32px;
  width: 32px;
  min-width: 32px;
  cursor: pointer;
}

.nighttheme:hover {
  color: var(--acc-color-hover);
  --filling: var(--acc-color-hover);
}

.nighttheme:hover p {
  border-color: var(--acc-color-hover);
}

.nighttheme:hover .checkbox span {
  background-color: var(--acc-color-hover);
}

.nighttheme:hover,
.help:hover {
  --fill-on-hover: var(--acc-color-hover);
  color: var(--acc-color-hover);
}

.reload {
  display: block;
  margin-top: 8px;
  width: 100%;
  color: inherit;
  cursor: pointer;
  text-decoration: solid underline;
}

.reload:hover {
  transform: translateY(-2px);
}

.change_password {
  margin: auto 8px auto auto;
  color: inherit;
  --fill-on-hover: var(--c);
}

.change_password svg {
  margin: 0;
}

.change_password:hover {
  color: var(--acc-color-hover);
  --fill-on-hover: var(--acc-color-hover);
}

.display_none {
  display: none !important;
}

.show_parallel {
  display: inline-block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.bookmark_in_list {
  margin: 8px 0;
  border-left: 8px solid;
  padding: 8px;
  text-align: initial;
}

.bookmark_text {
  color: inherit;
  cursor: pointer;
  line-height: 1.25;
}

.time {
  margin-left: auto;
  text-align: right;
  opacity: 0.75;
  font-size: 0.75em;
}

.bookmark_collections {
  padding: 8px;
  font-size: 0.875em;
  opacity: 0.9;
}

.dataflex {
  display: flex;
  align-items: center;
  cursor: default;
}

._options {
  height: 1.5em;
  width: 1.5em;
  fill: var(--acc-bgc);
  cursor: pointer;
  display: inline-block;
}

._options:hover {
  fill: var(--acc-bgc-hover);
}

.booktitle {
  font-size: 0.8em;
  font-weight: 500;
  opacity: 0.75;
}

.hr {
  width: 92%;
  margin: 0 4%;
  border: none;
  border-top: 1px solid var(--acc-bgc);
}

.profile_hat {
  display: flex;
  flex-direction: column;
}

.bookmark_search:focus {
  background: var(--acc-bgc-hover);
}

@keyframes history-came {
  0% {
    bottom: -100%;
    right: -256px;
  }

  100% {
    bottom: 2%;
    right: 3vw;
  }
}

.open_in_parallel {
  max-width: 32px;
  min-width: 32px;
  max-height: 46px;
  width: 32px;
  margin: auto 0 auto 8px;
  padding: 4px;
  fill: var(--c);
  cursor: pointer;
}

.open_in_parallel:hover {
  fill: var(--acc-color-hover);
}

.addtocollection {
  box-shadow: 0 14px 28px rgba(4, 6, 12, 0.251),
    0 10px 10px rgba(4, 6, 12, 0.22);
  background: var(--bgc);
  bottom: 0;
  position: fixed;
  width: 100%;
  bottom: -100%;
  visibility: hidden;
  z-index: 1000;
}

.collectionshat {
  display: flex;
  align-items: center;
  padding: 16px;
  border-top: 1px solid var(--acc-bgc-hover);
  cursor: default;
  height: 52px;
}

.saveto {
  margin: auto;
  font-size: 16px;
}

.svgAdd {
  width: 20px;
  height: 32px;
  stroke: var(--c);
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: 16px;
  stroke-width: 2px;
}

.svgAdd:hover {
  stroke: goldenrod;
}

.svgBack {
  width: 20px;
  min-width: 20px;
  height: 32px;
  fill: var(--c);
  color: var(--c);
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  left: 16px;
}

.svgBack:hover {
  fill: var(--acc-color);
  color: var(--acc-color);
}

.collection {
  display: inline-block;
  margin: 4px;
  background: var(--acc-bgc);
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid var(--acc-bgc);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.collection:hover {
  background: var(--acc-bgc-hover);
}

.cancel {
  background: inherit;
  color: inherit;
  padding: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.show_collections {
  bottom: 0;
  visibility: visible;
}

.newcollectioninput {
  width: auto;
  height: 32px;
  margin: 8px auto;
  background: inherit;
  border: none;
  border-bottom: 1px solid royalblue;
  color: inherit;
  font-size: 1.2em;
}

.add_new_collection {
  background: royalblue;
  color: white;
}

.add_new_collection:hover {
  background: rgba(65, 105, 225, 0.867);
}

footer {
  color: var(--disabled);
  padding-bottom: 8px;
  text-align: center;
}

footer a {
  color: var(--disabled);
  font-size: 14px;
  background-size: 100% 0.2em;
  display: inline-block;
  background-image: linear-gradient(var(--disabled) 0px, var(--disabled) 100%);
}

footer a:hover {
  color: rgb(153, 170, 187);
}

.footer_links {
  padding: 8px 0;
}

.footer_links a {
  margin: 4px 9px 4px 0;
}

.exhortation {
  text-align: center;
  margin: 4vw auto;
  font-size: 2.3em;
  max-width: 800px;
}

.helpFAQ {
  text-indent: 4vw;
}

.helpFAQ h3 {
  margin: 32px 0 12px;
  font-weight: 500;
  color: var(--acc-color);
}

.helpFAQ ul {
  margin: 16px 0 64px;
  padding-left: 32px;
}

.helpFAQ li {
  margin: 12px;
  text-indent: 0;
  list-style: hebrew;
}

#iosinstall a,
.helpFAQ a {
  color: inherit;
  background-image: linear-gradient(var(--c) 0px, var(--c) 100%);
}

.helpFAQ p {
  line-height: 2;
}

.still_have_questions {
  margin: 128px 0 16px;
}

address a,
note-up a {
  color: var(--acc-color);
}

address a:hover,
note-up a:hover {
  color: var(--acc-color-hover);
}

.in_offline {
  text-align: center;
  animation-delay: 1.5s;
}

.without_padding {
  padding: 0;
}

.comparison_box {
  display: flex;
  flex-direction: column;
}

.drag_handle {
  touch-action: none;
  max-width: 32px;
  min-width: 32px;
  max-height: 46px;
  width: 32px;
  margin: auto auto auto 0;
  fill: var(--c);
  cursor: move;
  user-select: none;
}

.drag_handle:hover {
  fill: var(--acc-color-hover);
}

.emojify {
  font-family: "Apple Color Emoji", "Droid Sans Fallback", "Noto Color Emoji",
    "Segoe UI Emoji";
  margin-right: 16px;
}

#page_search input {
  width: auto;
  min-width: 64px;
  height: 36px;
  margin: 0;
}

#page_search .arrow {
  height: 36px;
  width: 36px;
  min-width: 36px;
  opacity: 0.7;
  background: var(--acc-bgc);
  border: 1px solid var(--acc-bgc);
}

#page_search .arrow:hover {
  background: var(--acc-bgc-hover);
  opacity: 1;
  transform: none;
}

#page_search .arrow:active,
.search:active {
  background-color: transparent;
}

#page_search p {
  margin-left: 16px;
  white-space: pre;
}

.current_occurence {
  background-color: var(--acc-bgc);
  filter: saturate(4);
  position: absolute;
}

.another_occurences {
  background-color: var(--acc-bgc-hover);
  position: absolute;
}

.daf button {
  font-size: 16px;
  width: 100%;
}

.daf button:disabled {
  opacity: 0.5;
}

.daf button:hover {
  background: firebrick;
  color: white;
}

.daf button:active {
  background: indianred;
}

input:invalid,
.invalid {
  box-shadow: 0 0 0 2px #aa3344;
}

.errormessage {
  margin-bottom: 16px;
  color: indianred;
  font-size: 18px;
}

.profile_note {
  display: block;
  background-color: var(--acc-bgc);
  max-height: 128px;
  font-size: 0.8em;
  margin: 8px 0;
  padding: 4px 8px;
  border-radius: 4px;
}

#note_placeholder {
  height: 0;
  opacity: 0.5;
}

editing-area h1 {
  font-weight: 400;
  line-height: 42px;
  font-size: 36px;
  margin-top: 0.78em;
  margin-bottom: -0.27em;
}

editing-area h2 {
  font-size: 24px;
  line-height: 32px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 0.79em;
  margin-bottom: 1em;
}

blockquote {
  margin: 0;
  padding: 4px 16px;
  padding-right: 0;
  margin: 16px 0;
  box-shadow: var(--acc-color-hover) 3px 0px 0px 0px inset;
}

editing-area ul,
editing-area ol {
  padding-left: 36px;
  margin: 8px 0 16px;
}

editing-area ul li,
editing-area ol li {
  list-style: hebrew;
}

editing-area pre {
  white-space: break-spaces;
  display: block;
  padding: 8px 0;
}

editing-area p {
  padding: 8px 0px 4px;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: none;
  z-index: auto;
}

mark {
  color: inherit;
  background-color: var(--acc-bgc-hover);
}

.bdb_def {
  margin-top: 32px;
  margin-bottom: -8px;
}

.definition a {
  color: var(--acc-color);
  cursor: pointer;
  text-decoration: underline;
}
.definition a:hover {
  color: var(--acc-color-hover);
}

.definition ol,
.definition ul {
  padding-left: 32px;
  margin: 1em 0;
}

.definition li > ol {
  margin: 0;
}

note-body ul,
note-body ol,
.profile_note ul,
.profile_note ol {
  line-height: 1.6em;
  padding: 1em 0 1em 2em;
}

note-body ul li,
.profile_note ul li {
  list-style-type: disc;
}

mark-down * {
  transition: none !important;
}

@media all and (display-mode: standalone) {
  #pwa {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
  main,
  main h1 {
    overflow-wrap: break-word;
  }
  .filters {
    padding: 12px 4px;
  }
  .verse_picker {
    padding: 0 4px;
    left: 3.125%;
  }
  .history {
    top: auto;
  }
  .book_in_filter {
    max-width: 240px;
  }
  .parallel_text {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  .parallel {
    height: 50%;
    width: 100%;
  }
  .show_parallel {
    border-top: 2px solid var(--acc-bgc-hover);
  }
  .platform-item {
    width: 100%;
  }
  .exhortation {
    margin: 4vw 8px;
    font-size: 1.5em;
  }
  .change_password span {
    display: none;
  }
  .change_password svg {
    height: 24px;
    width: 24px;
  }
  #page_search .close_search {
    margin: 0 8px 0 auto;
  }
  #page_search p {
    margin: 0 8px 0 -8px;
  }
}
