html[data-theme='dark'] {
  --background-color: rgb(4, 6, 11);
  --text-color: rgb(255, 238, 238);
}

html[data-theme='light'] {
  --background-color: rgb(255, 238, 238);
  --text-color: rgb(4, 6, 11);
}

* {
  box-sizing: border-box;
  scrollbar-color: rgb(115, 115, 115) rgba(56, 56, 61, 0.2);
  scrollbar-width: thin;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease 0s;
  scroll-behavior: smooth;
  font-size: 14px;
  color: #88a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(56, 56, 61, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(115, 115, 115);
}

*::selection {
  color: hsl(0, 100%, 97%);
  background-color: rgb(65, 118, 144);
}

:focus {
  outline: none !important;
}

#container, body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 12px;
}

#header {
  display: none !important;
}

h1, h1 a, h1 a:visited {
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
}

#content {
  padding: 0 !important;
  display: block;
  max-width: 360px;
  min-width: 296px;
}

.errormessage {
  margin-bottom: 16px;
  color: indianred;
  font-size: 18px;
}

ul, li {
  list-style: none !important;
  list-style-type: none !important;
}

.errorlist li {
  color: indianred;
}

br {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 18px !important;
  margin-top: 16px;
  color: inherit;
}

input[type="text"], input[type="email"], input[type="password"] {
  background: rgba(136, 136, 255, 0.133);
  border: 1px solid rgba(138, 138, 255, 0.267);
  color: var(--text-color);
  padding: 8px 8px;
  margin-bottom: 4px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  background: var(--background-color);
  border: 1px solid rgba(136, 136, 255, 0.533);
}

input, .with {
  border-radius: 4px;
}

.with, #login_after_reset, input[type="submit"] {
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 8px 8px;
  margin-left: auto;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-color: var(--text-color);
  margin-top: 16px;
  width: 100%;
  font-weight: bold;
  display: block;
  text-align: center;
}

.with:hover, #login_after_reset, input[type="submit"]:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  background: var(--background-color);
}

.with {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.with svg {
  height: 16px;
  margin-right: 8px;
}

hr {
  margin: 16px 32px;
  color: rgba(138, 138, 255, 0.267);
}

a {
  font-size: 13px;
  color: var(--text-color) !important;
}

.tomain {
  font: inherit;
  text-decoration: 3px underline;
}

.help, p.help, form p.help, div.help, form div.help, div.help li {
  font-size: 14px;
  color: inherit;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}