<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Bolls Bible API</title>
	<link rel="stylesheet" type="text/css" href="/static/bolls/dist/api.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">
	<link rel="canonical" href="https://bolls.life/api/">
	<meta property="og:site_name" content="Bolls Bible">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta name="description"
		content="API for fetching Bible text.">
	<meta property="og:title"
		content="API for fetching Bible text.">
	<meta property="og:description"
		content="Bolls Bible APIs. Get the Bible text without limits.">
	<meta property="og:image" content="/static/bolls.png">
	<meta name="theme-color" content="#04060c" />
	<meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@bolls-twitter-handle">
	<meta name="twitter:title" content="Bolls Bible">
	<meta name="twitter:image:src" content="/static/bolls.png">
	<meta name="twitter:image:alt" content="Bolls logo">
	<meta name="twitter:app:name:googleplay" content="Bolls">
	<meta name="twitter:app:id:googleplay" content="life.bolls.bolls">
</head>

<body>
	<header>
		<h1><a href="/" style="color:inherit; --hover-color: var(--text-color);">Bolls</a> API Documentation</h1>
		<p> This documentation is called to provide an available API for creating a functioning client.</p>
	</header>
	<h2>Table of contents</h2>
	<ul>
		<li><a href='#Before fetching Bible text'>Before fetching Bible text</a></li>
		<li><a href='#Fetch a chapter'>Fetch a chapter</a></li>
		<li><a href='#Search'>Search</a></li>
		<li><a href='#Get a translation'>Get a translation</a></li>
		<li><a href='#compare'>Compare versions</a></li>
		<li><a href='#Fetch a verse'>Fetch a verse</a></li>
		<li><a href='#Notes'>Notes</a></li>
		<li><a href='#contact_me'>Contact me</a></li>
	</ul>
	<h2 id='Before fetching Bible text'>Before fetching Bible text</h2>
	<p class='last-update'> Updated at: 17 February 2021.</p>
	<p>Firstly, to fetch Bible text, you need to get <a target="_blank"
			href="https://bolls.life/static/bolls/app/views/languages.json">a list of available
			translations</a> and <a target="_blank"
			href="https://bolls.life/static/bolls/app/views/translations_books.json">an object with their
			books</a>. The translations list contain nodes, which have the next properties:
	</p>
	<ul>
		<li> The <code>short_name</code> field is an id of the translation in database. Use it for forming a url.
		<li> The <code>full_name</code> field is a full name of its translation.
	</ul>

	<p>The books object (or list) contains books, which contain nodes, which have the next properties:</p>
	<ul>
		<li> The <code>bookid</code> field is an id of the book in database.
		<li> The <code>chronorder</code> field is a number of the book in chronological order (just a smoll feature).
		<li> The <code>name</code> field is a name of this book.
		<li> The <code>chapters</code> field is a number of chapters of this book.
	</ul>
	<h2 id='Fetch a chapter'>Fetch a chapter</h2>
	<p>Then, using that data, you can form a url for fetching a chapter of certain translation and book. The url
		constructor is the next:

	<pre>https://bolls.life/get-text/&lt;slug:translation&gt;/&lt;int:book&gt;/&lt;int:chapter&gt;/</pre>

	<p>Where <code>&lt;slug:translation&gt;</code> is a translation abbreviation like <code>YLT</code> or
		<code>UBIO</code> or <code>SYNOD</code>, and where <code>&lt;int:book&gt;</code>
		and<code>&lt;int:chapter&gt;</code> is just a number of a book and a number of a chapter. For example by the
		next
		url you will got an eight chapter of Song of Solomon book:
	</p>

	<pre><a target="_blank" href="https://bolls.life/get-text/YLT/22/8/">https://bolls.life/get-text/YLT/22/8/</a></pre>

	<p>The result of this request will be a list of verses of that chapter, where every verse will has some several
		fields.</p>
	<ul>
		<li> The <code>pk</code> field is an id of the verse in database.
		<li> The <code>verse</code> field is a number of the verse in its chapter.
		<li> The <code>text</code> field contains a text of this verse.
	</ul>
	<p><b>NOTE!</b> To fetch a single verse or a few verses of one or more translations use <a href='#compare'>Compare
			versions API</a></p>

	<h2 id='Search'>Search</h2>
	<p>To find verses by a slug or a string you need to form a url in the next manner:</p>

	<pre>https://bolls.life/&lt;slug:translation&gt;/&lt;str:piece&gt;/</pre>

	<p>Where <code>&lt;slug:translation&gt;</code> is a translation in which you want to find something. The
		<code>&lt;str:piece&gt;</code> is a piece of text which can be a slug or a string which you look for. It is`not
		case sensitive, and it can be anything on any language: <code>.../WLC/שָּׁמַ֖יִם וְאֵ֥ת/</code>, <code>.../LXX/ὁ
				θεὸς τὸν/</code>, <code>.../UBIO/Небо та землю/</code>, <code>.../CUV/淵 面 黑 暗/</code>. For example the next url
		will returm a list of verses, where "Haggi" word is found:
	</p>

	<pre><a target="_blank" href="https://bolls.life/search/YLT/haggi/">https://bolls.life/search/YLT/haggi/</a></pre>

	<p>The result of this request will be a list of ALL found verses in the given translation, where every verse will
		has some several fields:</p>
	<ul id="verse_fields">
		<li> The <code>pk</code> field is an id of the verse in database.
		<li> The <code>translation</code> field is a translation in which was the search.
		<li> The <code>book</code> field is a book of the verse.
		<li> The <code>chapter</code> field is a chapter of the book.
		<li> The <code>verse</code> field is a number of the verse in the chapter.
		<li> The <code>text</code> field contains a text of this verse.
	</ul>
	<h2 id='Get a translation'>Get a translation</h2>
	<p>You can get full translation just quering in hte next manner:</p>
	<pre>https://bolls.life/static/translations/&lt;slug:translation&gt;.json</pre>
	<p>The result of it will be an array of all verses, that belongs to the given translation. For example you can try
		the next link:</p>
	<pre><a target="_blank"
			href="https://bolls.life/static/translations/YLT.json">https://bolls.life/static/translations/YLT.json</a></pre>
	<p>The structure of nodes in this array will be like in the nodes of search query</p>
	<h2 id="compare">Compare versions</h2>
	<p>You can make a request for peculiar verses in peculiar translations. For example if you wanna see some exact
		verse or verses in different translation to compare them you can use this api. The request should POST, and you
		should pass in the body an object with some fields. The request url -=>
		<code>https://bolls.life/get-paralel-verses/</code>
	</p>
	<ul>
		<li> The <code>translations</code> field should be an array of codes of translations like:
			<code>JSON.stringify(["YLT", "HOM", "WLCC"])</code>.
		<li> The <code>verses</code> field should be an array of numbers of verses to compare like:
			<code>JSON.stringify([1, 2, 3, 6, 45])</code> (order does mean).
		<li> The <code>chapter</code> field should be a chapter of the books.
		<li> The <code>book</code> field should be a book of the verses.
	</ul>
	<p>Imba example.</p>
	<pre>

window.fetch("/get-paralel-verses/", {
	method: "POST",
	cache: "no-cache",
	headers: {
		"Content-Type": "application/json"
	},
	body: JSON.stringify({
		// Here are list of translations for comparison
		translations: ['YLT', 'WEB', KJV],

		// It may be a single verse there [3], or any number of verses,
		// and if they exist they will be returned
		verses: [3, 4, 5],

		book: 43, // an id of the book
		chapter: 1, // number of chapter
	}),
})
.then(do |response| response.json())
.then(do |resdata|
	translations_with_verses = resdata
	console.log console.log
)
	</pre>
	<p>The result of this request will be an array of translations where every translation is an array of requested
		verses, where every verse has <a href="#verse_fields">this fields</a>. Here is the example of the result:</p>
	<pre>
[
  [
    {
      "pk": 1145257,
      "translation": "WLCC",
      "book": 18,
      "chapter": 2,
      "verse": 1,
      "text": "ויהי היום ויבאו בני האלהים להתיצב על־יהוה ויבוא גם־השטן בתכם להתיצב על־יהוה׃"
    },
    {
      "pk": 1145258,
      "translation": "WLCC",
      "book": 18,
      "chapter": 2,
      "verse": 2,
      "text": "ויאמר יהוה אל־השטן אי מזה תבא ויען השטן את־יהוה ויאמר משט בארץ ומהתהלך בה׃"
    },
    {
      "pk": 1145259,
      "translation": "WLCC",
      "book": 18,
      "chapter": 2,
      "verse": 3,
      "text": "ויאמר יהוה אל־השטן השמת לבך אל־עבדי איוב כי אין כמהו בארץ איש תם וישר ירא אלהים וסר מרע ועדנו מחזיק בתמתו ותסיתני בו לבלעו חנם׃"
    }
  ],
  [
    {
      "pk": 36107,
      "translation": "YLT",
      "book": 18,
      "chapter": 2,
      "verse": 1,
      "text": "And the day is, that sons of God come in to station themselves by Jehovah, and there doth come also the Adversary in their midst to station himself by Jehovah."
    },
    {
      "pk": 36108,
      "translation": "YLT",
      "book": 18,
      "chapter": 2,
      "verse": 2,
      "text": "And Jehovah saith unto the Adversary, 'Whence camest thou?' And the Adversary answereth Jehovah and saith, 'From going to and fro in the land, and from walking up and down in it.'"
    },
    {
      "pk": 36109,
      "translation": "YLT",
      "book": 18,
      "chapter": 2,
      "verse": 3,
      "text": "And Jehovah saith unto the Adversary, 'Hast thou set thy heart unto My servant Job because there is none like him in the land, a man perfect and upright, fearing God and turning aside from evil? and still he is keeping hold on his integrity, and thou dost move Me against him to swallow him up for nought!'"
    }
  ]
]
	</pre>

	<h2 id="Fetch a verse">Fetch a verse</h2>
	<p>You may need this a lot. To fetch a single verse of a few verses of a single translation you should use the
		compare API as I mantion it above. Just pass the translation code as array with single item, chapter number,
		book code and array with verse
		/ verses and you will get it.</p>
	<p>Imba example.</p>
	<pre>

window.fetch("/get-paralel-verses/", {
	method: "POST",
	cache: "no-cache",
	headers: {
		"Content-Type": "application/json"
	},
	body: JSON.stringify({
		// Here show what translation should it be. You may add there a few translations
		translations: ['YLT'],

		// It may be a single verse there [3], or any number of verses,
		// and if they exist they will be returned
		verses: [3, 4, 5],

		book: 43, // an id of the book
		chapter: 1, // number of chapter
	}),
})
.then(do |response| response.json())
.then(do |resdata|
	translations_with_verses = resdata
	console.log console.log
)
	</pre>
	<p>Here is example of the response. YLT translation, Job (18) 2:6</p>
	<pre>
[
  [
    {
      "pk": 36112,
      "translation": "YLT",
      "book": 18,
      "chapter": 2,
      "verse": 6,
      "text": "And Jehovah saith unto the Adversary, 'Lo, he [is] in thy hand; only his life take care of.'"
    }
  ]
]
	</pre>
	<p>As you see it is the same as <a href='#compare'>Compare translation API</a>. More detailes about the fields of
		this request see the <a href='#compare'>Compare translation API</a>.</p>

	<h3 id='Notes'>Notes</h3>
	<ul>
		<li>Every verse text should be interpreted as an html string. There may appear some tags like
			<code><span><</span>/br></code> or <code><span><</span>i><span><</span>/i></code>. Or display the text
			as HTML or clean up the text.</li>
	</ul>

	<footer id='contact_me' style="padding-bottom: 256px;">
		<h3>Contact me</h3>
		<address>
			<p>If you have any further questions <a href="mailto:bpavlisinec@gmail.com">you can write to me</a></p>
		</address>
	</footer>
</body>

</html>