{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<script async rel="preconnect" src="https://www.googletagmanager.com/gtag/js?id=UA-162017974-1"></script>
	<script>window.dataLayer = window.dataLayer || [];function gtag() {dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-162017974-1');</script>
	<meta charset="UTF-8">
	<title>Bolls Bible API</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bolls/dist/api.css' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'site.webmanifest' %}">
	<link rel="canonical" href="https://bolls.life/api/">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<meta name="description" content="API documentation of Bolls project for developing frontend clients. ">
	<meta property="og:title" content="API for Bolls project">
	<meta property="og:description" content="API documentation of Bolls project for developing frontend clients.">
	<meta property="og:image" content="{% static 'light.png' %}">
	<meta name="twitter:image:src" content="{% static 'light.png' %}">
	<meta name="theme-color" content="#04060c" />
</head>

<body>
	<header>
		<h1><a href="/" style="color:inherit; --hover-color: var(--text-color);">Bolls</a> API Documentation</h1>
		<p> This documentation is called to provide an available API for creating a functioning client.</p>
	</header>
	<h2>Fetching Bible text</h2>
	<p>Firstly, to fetch Bible text, you need to get <a target="_blank" href="https://bolls.life/static/bolls/src/components/languages.json">a list of available
			translations</a> and <a target="_blank" href="https://bolls.life/static/bolls/src/components/translations_books.json">an object with their
			books</a>. The translations list contain nodes, which have the next properties:
	</p>
	<ul>
		<li> The <code>short_name</code> field is an id of the translation in database. Use it for forming a url.
		<li> The <code>full_name</code> field is a full name of its translation.
	</ul>

	<p>The books object (or list) contains books, which contain nodes, which have the next properties:</p>
	<ul>
		<li> The <code>bookid</code> field is an id of the book in database.
		<li> The <code>chronorder</code> field is a number of the book in chronological order (just a smoll feature).
		<li> The <code>name</code> field is a name of this book.
		<li> The <code>chapters</code> field is a number of chapters of this book.
	</ul>

	<p>Then, using that data, you can form a url for fetching a chapter of certain translation and book. The url
		constructor is the next:

		<pre>https://bolls.life/get-text/&lt;slug:translation&gt;/&lt;int:book&gt;/&lt;int:chapter&gt;/</pre>

		<p>Where <code>&lt;slug:translation&gt;</code> is a translation abbreviation like <code>YLT</code> or
			<code>UBIO</code> or <code>SYNOD</code>, and where <code>&lt;int:book&gt;</code>
			and<code>&lt;int:chapter&gt;</code> is just a number of a book and a number of a chapter. For example by the next
			url you will got an eight chapter of Song of Solomon book:</p>

		<pre><a target="_blank" href="https://bolls.life/get-text/YLT/22/8/">https://bolls.life/get-text/YLT/22/8/</a></pre>

		<p>The result of this request will be a list of verses of that chapter, where every verse will has some several
			fields.</p>
		<ul>
			<li> The <code>pk</code> field is an id of the verse in database.
			<li> The <code>verse</code> field is a number of the verse in its chapter.
			<li> The <code>text</code> field contains a text of this verse.
		</ul>

		<h2>Search</h2>
		<p>To find verses by a slug or a string you need to form a url in the next manner:</p>

		<pre>https://bolls.life/&lt;slug:translation&gt;/&lt;str:piece&gt;/</pre>

		<p>Where <code>&lt;slug:translation&gt;</code> is a translation in which you want to find something. The
			<code>&lt;str:piece&gt;</code> is a piece of text which can be a slug or a string which you look for. It is`not
			case sensitive, and it can be anything on any language: <code>.../WLC/שָּׁמַ֖יִם וְאֵ֥ת/</code>, <code>.../LXX/ὁ
				θεὸς τὸν/</code>, <code>.../UBIO/Небо та землю/</code>, <code>.../CUV/淵 面 黑 暗/</code>. For example the next url
			will returm a list of verses, where "Haggi" word is found:</p>

		<pre><a target="_blank" href="https://bolls.life/search/YLT/haggi/">https://bolls.life/search/YLT/haggi/</a></pre>

		<p>The result of this request will be a list of ALL found verses in the given translation, where every verse will
			has some several fields:</p>
		<ul id="verse_fields">
			<li> The <code>pk</code> field is an id of the verse in database.
			<li> The <code>translation</code> field is a translation in which was the search.
			<li> The <code>book</code> field is a book of the verse.
			<li> The <code>chapter</code> field is a chapter of the book.
			<li> The <code>verse</code> field is a number of the verse in the chapter.
			<li> The <code>text</code> field contains a text of this verse.
		</ul>
		<h2>Get a translation</h2>
		<p>You can get full translation just quering in hte next manner:</p>
		<pre>https://bolls.life/get-translation/&lt;slug:translation&gt;/</pre>
		<p>The result of it will be an array of all verses, that belongs to the given translation. For example you can try
			the next link:</p>
		<pre><a target="_blank"
			href="https://bolls.life/get-translation/YLT/">https://bolls.life/get-translation/YLT/</a></pre>
		<p>The structure of nodes in this array will be like in the nodes of search query</p>
		<h2>Compare versions</h2>
		<p>You can make a request for peculiar verses in peculiar translations. For example if you wanna see some exact verse or verses in different translation to compare them you can use this api. The request should POST, and you should pass in the body an object with some fields</p>
		<ul>
			<li> The <code>translations</code> field should be  an array of codes of translations like: <code>JSON.stringify(["YLT", "HOM", "WLCC"])</code>.
			<li> The <code>verses</code> field should be an array of numbers of verses to compare like: <code>JSON.stringify([1, 2, 3, 6, 45])</code> (order does mean).
			<li> The <code>chapter</code> field should be a chapter of the books.
			<li> The <code>book</code> field should be a book of the verses.
		</ul>
		<p>The result of this request will be an array of translations where every translation is an array of requested verses, where every verse has <a href="#verse_fields">this fields</a></p>
		<p>You can also use this API to fetch single verse or a few verses of a single translation. Just pass the translation code as an iten of arrey, chanter number, book code and array with verse / verses and you will get it.</p>

		<footer>
			<address>
				<p>If you have any further questions <a href="mailto:bpavlisinec@gmail.com">you can write to me</a></p>
			</address>
		</footer>
		{% comment %} <code></code> {% endcomment %}
</body>

</html>